﻿@model NSABP_Model_BO_.FormFT_BO

<div class="col-xs-12">

    <div class="form-group row">
        <div class="col-md-2">
            Patient ID 
        </div>
        <div class="col-md-3"><input type="text" value="@Model.T9_PatientID" id="txtPatientId" readonly="readonly" class="form-control" /></div>
    @*</div>

    <div class="form-group row">*@
        <div class="col-md-3">
            Form_FT 
        </div>
        <div class="col-md-3"><input type="text" value="@Model.Form_FT_ID" id="txtForm_FT_ID" readonly="readonly" class="form-control" /></div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            Lab# 
        </div>
        <div class="col-md-3"><input type="text" value="@Model.Lab_Number" id="txtLabId" readonly="readonly" class="form-control" /></div>
        <div class="col-md-3">
            Storage Sequence No
        </div>
        <div class="col-md-3"><input type="text" value="@Model.StorageSequenceNo" id="txtstoragesequenceNo" readonly="readonly" class="form-control" /> </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            Date of Shipment 
        </div>
        <div class="col-md-3"><input type="text" id="txtdateofShipment" value="@Model.dateShippedToDivisionOfPathology" readonly="readonly" class="form-control" /></div>
        <div class="col-md-3 required">
            Receipt Date 
        </div>
        <div class="col-md-3"><input type="text" id="txtreceiptdate" class="datepicker form-control" /> </div>

    </div>

    <h4 class="font-weight-bold"> CoreDetails</h4>
    <hr/>
    <div class="table-responsive" width="100%">
        <table id="example234" class="table table-responsive table-bordered" cellspacing="0" width="1080">
            <thead>
                <tr>
                    <th >
                        Select To Export
                    </th>
                    <th>
                        Select To Receive
                    </th>
                    <th >
                        Core Id
                    </th>
                    <th >
                        Core Type
                    </th>
                    <th >
                        Condition Recieved
                    </th>
                    <th >
                        Status
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Received Note
                    </th>
                </tr>
            </thead>
            <tbody class="nowrap">
                <tr>
                    <td><input type="checkbox" id="chkExport" /></td>
                    <td>
                        <input type="checkbox" id="chkSelect" value="" />
                    </td>
                    <td><input type="text" value="@Model.Lab_Number-Pre-F" id="CoreId" class="form-control"/></td>
                    <td><input type="text" id="txtCore" value="Formalin Core" class="form-control"  /></td>
                    <td> @Html.DropDownListFor(model => model.Received_Condition, ViewBag.ReceivedConditoins as SelectList, new { @class = "form-control"})</td>
                    <td> @Html.DropDownList("SlidesLocations", ViewBag.SlidesLocations as SelectList, new { @class = "form-control" })</td>
                    <td> @Html.DropDownList("Slides_Status", ViewBag.Slides_Status as SelectList, new { @class = "form-control" })</td>
                    <td><input type="text" id="txtReceivedNote" required="" class="form-control" /></td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group row" id="divShipbuttons">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <input type="button" value="Save" class="btn btn-info" id="btnSave" />&nbsp; &nbsp;
            <input type="button" value="Cancel" class="btn btn-info" id="btnCancel" data-dismiss="modal" />&nbsp; &nbsp;
            <input type="button" value="Export To Excel" class="btn btn-info" />
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#example234').DataTable({ "paging": false });
            
        $(".datepicker").datepicker({
            autoclose: true, endDate: 'today'
            
        }
        );
        //FormFTRecieved DMG
        $("#btnSave").click(function () {
            if ($("#txtreceiptdate").val() == "") {
                alert("please Select Receipt Date");
                $("#txtreceiptdate").focus();
                return;
            }
            if ($("#chkSelect").is(':checked')==false  ) {
                alert("please Select Check box received");
                $("#chkSelect").focus();
                return;
            }
            debugger;
            var data = {
                T9_PatientID: $("#txtPatientId").val(),
                Form_FT_ID: $("#txtForm_FT_ID").val(),
                Lab_Number: $("#txtLabId").val(),
                StorageSequenceNo: $("#txtstoragesequenceNo").val(),
                dateShippedToDivisionOfPathology: $("#txtdateofShipment").val(),
                RecieptDate: $("#txtreceiptdate").val(),
                SlidesLocationID: $("#SlidesLocations").val(),
                Slides_Status_ID: $("#Slides_Status").val(),
                ReceivedNote: $("#txtReceivedNote").val(),
                Received_Condition: $("#Received_Condition").val(),
                CoreId: $("#CoreId").val()
            }
            $.post("/Form_FT/SaverecievedCondtions", data, function (data) {
              
                if(data.status=="Success")
                {
                    alert("Form FT details received successfully");
                    window.location.reload();
                }
                else
                {
                    alert("Invalid operation");
                }
                //  $("#button").
                //$("#shippingdiv *").prop('disabled', false);
                //$("#FormFT *").prop('disabled', true);
            });
        });
    });
</script>
 