﻿@model NSABP_Model_BO_.FormBLK_BO
@{
    ViewBag.Title = "DMG Receive"; }
<div lass="col-md-12">
    <div class="form-group row">
        <div class="col-md-3">Patient ID:</div>
        <div class="col-md-3">@Model.T1_PatientID</div>
        <div class="col-md-3">Lab ID:</div>
        <div class="col-md-3">@Model.Lab_Number</div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">Number of Blocks:</div>
        <div class="col-md-3">@Model.numberOfBlocks</div>
        <div class="col-md-3">No. of blocks received</div>
        <div class="col-md-3"><input type="number" id="numberOfBlocksReceivedByNSABP" value="@Model.numberOfBlocksReceivedByNSABP" class="form-control" t /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">Pathology Accession Number:</div>
        <div class="col-md-3">@Model.FormBLK_Patology_Accession_Number</div>
        <div class="col-md-3">NSABP Pathology Accession Number:</div>
        <div class="col-md-3"><input type="text" id="NSABP_Patology_Accession_Number" value="@Model.NSABP_Patology_Accession_Number" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">Shipped Date:	</div>
        <div class="col-md-3"><input type="text" id="dateShippedToDivisionOfPathology" value="@Model.dateShippedToDivisionOfPathology" disabled="disabled" class="form-control date " /><i class="icon-calender"></i></div>
        <div class="col-md-3">Storage Sequence Number:</div>
        <div class="col-md-3"><input type="text" id="adhj" value="@Model.Storage_Seq_Num" disabled="disabled" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Received  Date:
        </div>
        <div class="col-md-3"><input type="text" id="DMG_Receieved_Date" value="@Model.DMG_Receieved_Date" class="form-control" /> <i class="icon-calender"></i></div>
        <div class="col-md-3">Received Note:</div>
        <div class="col-md-3"><textarea id="Notes" class="form-control">@Model.Notes</textarea></div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <table id="tblDMGblks" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Blocks
                    </th>
                    <th>
                        Received Condition
                    </th>
                    <th>
                        Re_embed
                    </th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (Model.List_Blocks != null)
                    {
                        int i = 1;
                        foreach (var item in Model.List_Blocks)
                        {
                            <tr>
                                <td><input type="text" id="txtblk'@i'" class="txtblk" value="@item.Block_Slide_ID" /></td>
                                <td>@Html.DropDownListFor(Model => item.Receieved_condition, new SelectList(Model.list_Receieved_Conditions, "ReceievedCondition_ID", "ReceievedCondition_Name"))</td>
                                <td><input type="checkbox" class="chkrembd" value="@item.Re_embed" /></td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <input type="button" value="Receive" name="Receive" id="btnReceive" class="btn btn-info" />&nbsp; &nbsp;
        <input type="button" value="Cancel" name="Cancel" data-dismiss="modal" class="btn btn-info" />
    </div>
</div>
<div style="display:none">
    @Html.HiddenFor(Modal => Modal.ID)
    @Html.DropDownList("ddlReceivedCndtn", new SelectList(Model.list_Receieved_Conditions, "ReceievedCondition_ID", "ReceievedCondition_Name"))
</div>


<script>
    $(document).ready(function () {
        $("#DMG_Receieved_Date").datepicker({
            autoclose: true
        });

    });
    $(document).ready(function () {
        $('#btnReceive').click(function () {

            var dmgRcv = new Object();
            dmgRcv.ID = $('#ID').val();
            if ($("#numberOfBlocksReceivedByNSABP").val() == "") {
                alert('Please enter Number of BLocks');
                $("#numberOfBlocksReceivedByNSABP").focus();
                return;
            } else {
                dmgRcv.numberOfBlocksReceivedByNSABP = $("#numberOfBlocksReceivedByNSABP").val();
            }
            if ($("#NSABP_Patology_Accession_Number").val() == "") {
                alert('Please enter Patology Accession Number');
                $("#NSABP_Patology_Accession_Number").focus();
                return;
            } else {
                dmgRcv.NSABP_Patology_Accession_Number = $("#numberOfBlocksReceivedByNSABP").val();
            }
            if ($("#DMG_Receieved_Date").val() == "") {
                alert('Please enter Received date');
                $("#DMG_Receieved_Date").focus();
                return;
            } else {
                dmgRcv.DMG_Receieved_Date = $("#DMG_Receieved_Date").val();
            }
            if ($("#Notes").val() == "") {
                alert('Please enter Notes');
                $("#Notes").focus();
                return;
            } else {
                dmgRcv.Notes = $("#Notes").val();
            }
            


            var count = parseInt($('#numberOfBlocksReceivedByNSABP').val());
            var __FormBLK_Blocks_BO = new Array();
            for (var j = 1; j <= count; j++) {
                var blk = $("#txtblk" + j + "").val();
                var rcvd = $('option:selected', $("#RcvdCndtnk" + j + "")).val();
                var reembd = ($("#chkrembd" + j + "").prop("checked") == true) ? "True" : "False";
                __FormBLK_Blocks_BO.push({ Dmg_Block_ID: blk, Receieved_condition: rcvd, Re_embed: reembd });

            }
            debugger;

            dmgRcv.List_Blocks = __FormBLK_Blocks_BO;

            FormBLK_DMG_Receive(dmgRcv);



        });
    });

    function FormBLK_DMG_Receive(dmgRcv) {
        $.post("/Form_BLK/FormBLK_DMG_Receive", dmgRcv,
              function (data1) {
                  if (data1.status == 'Success') {
                      alert(data1.status);
                      window.location.reload();
                  }
                  else {
                      alert(data1.status);
                  }
              }).fail(function () {
                  alert("error");
              });
    }



    $(document).ready(function () {
        $("#numberOfBlocksReceivedByNSABP").blur(function () {
            debugger;
            var _rowscount = parseInt($("#numberOfBlocksReceivedByNSABP").val())
            if (_rowscount > 0) {
                var html;
                for (var i = 1; i <= _rowscount; i++) {
                    html += '<tr> <td><input id="txtblk' + i + '" type="text" class="txtblk" /></td>'
                    html += '<td><select id="RcvdCndtnk' + i + '"  class="RcvdCndtn">'
                    html += $("#ddlReceivedCndtn").html();
                    html += '</select></td>'
                    html += ' <td><input type="checkbox" id="chkrembd' + i + '" class="chkrembd"  /></td></tr>'
                }
                $("#tblDMGblks tbody").html(html);
            }
        });
    });


</script>
