﻿@model NSABP_Model_BO_.User_BO

@{
    ViewBag.Title = "Createuser";
    Layout = "~/Views/Shared/_LayoutPage_ADMIN.cshtml";
    ViewBag.Create_Details_URL = "/User/GetUserDetails";
    ViewBag.Create_Details = "Details";

}



<div>


    <div class="form-group row">

        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label required col-md-2 color" })

        <div class="col-md-4">
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control text " })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label required col-md-2 color" })
        <div class="col-md-4">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control password" })

            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Work_Title, htmlAttributes: new { @class = "required control-label col-md-2 color" })
        <div class="col-md-4">

            @Html.DropDownListFor(model => model.Work_Title, new List<SelectListItem>
                                                                                                                                                                            {

                                                                                                                                                                                new SelectListItem{ Text="Mr.", Value = "Mr." },
                                                                                                                                                                                new SelectListItem{ Text="Mrs.", Value = "Mrs." }

                                                                                                                                                                             }, "-select-", new { @class = "form-control" })
        </div>

        @Html.LabelFor(model => model.FName, htmlAttributes: new
   {
       @class = "control-label col-md-2 required color",
       required = "required"
   })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.FName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row ">
        @Html.LabelFor(model => model.MInitial, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.MInitial, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MInitial, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.LName, htmlAttributes: new { @class = "control-label required col-md-2 color" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.LName, new { @class = "form-control col-md-11" })
            @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label required col-md-2 color" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label required col-md-2 color" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @*@Html.LabelFor(model => model.Protocol_Code, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-4 dropdown">
                @Html.DropDownListFor(model => model.Protocol_Id, ViewBag.Protocol as SelectList, "-Select-", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Protocol_Id, "", new { @class = "text-danger" })
            </div>*@
        @Html.LabelFor(model => model.Status_Title, htmlAttributes: new { @class = "control-label required col-md-2 color" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.Status_Id, ViewBag.Status as SelectList, "-Select-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Record_Status, "", new { @class = "text-danger" })
        </div>

    </div>
    @*<div class="form-group row">

            @Html.LabelFor(model => model.Role_Name, htmlAttributes: new { @class = "control-label required col-md-2 color" })
            <div class="col-md-4 dropdown ">
                @Html.DropDownListFor(model => model.Role_Id, ViewBag.Role as SelectList, "-Select-", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role_Id, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Site, htmlAttributes: new { @class = "control-label  col-md-2 color" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.Site, new SelectList(Model.listSites, "SiteID", "SiteID"), "--select--", new { @class = "form-control col-md-10" })
            </div>

        </div>*@
    <div class="form-group row col-md-12 ">
        <div class="col-md-3"><a id="addRow" class="btn btn-outline-success float-right" title="Add Row" ><i class="ti-plus"></i></a></div>
        <div class="col-md-6 ">
            
            <table id="tbl_config" class="table table-responsive" height="200px">
                <thead><tr><th><i class="fa fa-times"></i></th><th>Protocol</th><th>Role</th><th>Site</th></tr></thead>
                <tbody>
                    <tr>
                        <td><i class="fa fa-times dltRow"></i></td>
                        <td>@Html.DropDownList("Protocol_Id", ViewBag.Protocol as SelectList, "-Select-", new { @class = "form-control-sm   " })</td>
                        <td>@Html.DropDownList("Role_Id", ViewBag.Role as SelectList, "-Select-", new { @class = "form-control-sm Role_Id" })</td>
                        <td>@Html.DropDownList("Site", new SelectList(Model.listSites, "SiteID", "SiteID"), "--select--", new { @class = "form-control-sm" })</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-md-4"></div>
        <div class="col-md-8 ">
            <input type="button" value="Create" id="btnCreate" class="btn btn-info footable-add" />
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-info footable-add" />

        </div>
    </div>
</div>
<style>
    .required::after {
        content: "*";
        color: red;
    }
</style>
@*<style>
        #tbl_config tr td {
        height: 10px !important;
    }
    </style>*@
<script>
    $(function () {
        $("#tbl_config").on("change", ".Role_Id", function () {

            if ($("option:selected", this).text() == "SiteUser") {
                $(this).parents('tr').find("#Site").prop('disabled', false);
                //$("#Site").prop('disabled', false);
            }
            else {
                $(this).parents('tr').find("#Site").prop('disabled', true);
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        var tbl = $('#tbl_config').DataTable({
            paging: false,
            bFilter: false,
            bInfo: false,
            "bSort": false
        });
        $('#addRow').on('click', function () {
            var rowHtml = $("#tbl_config").find("tbody tr")[0].outerHTML
            //console.log(rowHtml);
            tbl.row.add($(rowHtml)).draw();
        });


        $('#tbl_config tbody').on('click', '.dltRow', function () {

            if (parseInt(tbl.rows().count()) > 1) {
                if (confirm('Are you sure want to delete?'))
                    return tbl
                         .row($(this).parents('tr'))
                         .remove()
                         .draw();
            }

        });
    });


</script>


<script>

    $(document).ready(function () {
        $('#PhoneNo').mask('(000) 000-0000');
       
        $("#btnCreate").click(function () {

            if ($("#UserName").val().trim() == '') {
                alert("Please enter user name");
                $("#UserName").focus();
                return;
            }
            if ($("#Password").val().trim() == '') {
                alert("Please enter Password");
                $("#Password").focus();
                return;
            }
            if ($("#Work_Title :selected").val() == 0) {
                alert("Please select work title");
                $("#Work_Title").focus();
                return;
            }
            if ($("#FName").val().trim() == '') {
                alert("Please enter first name");
                $("#FName").focus();
                return;
            }
            if ($("#LName").val().trim() == '') {
                alert("Please enter last name");
                $("#LName").focus();
                return;
            }
            if ($("#email").val().trim() == '') {
                alert("Please enter email Id");
                $("#email").focus();
                return;
            }
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            if (!emailReg.test($("#email").val())) {
                alert("Please enter valid Email");
                return;
            }

            if ($("#PhoneNo").val().trim() == '') {
                alert("Please enter phone number");
                $("#PhoneNo").focus();
                return;
            }

            //validate phone
            var phone = $("#PhoneNo").unmask().val(),
                intRegex = /[0-9 -()+]+$/;
            if ((phone.length < 10) || (!intRegex.test(phone) || phone.length > 10)) {
                alert('Please enter a valid 10 digits phone number.');           
                $("#PhoneNo").mask('(000) 000-0000')
                return false;
            }
            $("#PhoneNo").mask('(000) 000-0000')
            //if ($("#Protocol_Id :selected").val() == 0) {
            //    alert("Please select protocol");
            //    return;
            //}
            if ($("#Status_Id :selected").val() == 0) {
                alert("Please select User Status");
                $("#Status_Id").focus();
                return;
            }


            //if ($("#Role_Id :selected").val() == 0) {
            //    alert("Please select Role");
            //    return;
            //}
            //if ($("#Role_Id :selected").val() == 3) {
            //    if ($("#Site :selected").val() == 0) {
            //        alert("Please select Site");
            //        return;
            //    }
            //}

            var arry = new Array();
            var tbl = document.getElementById('tbl_config');
            var _p = '';
            for (var i = 1; i < tbl.rows.length; i++) {
                var row = tbl.rows[i];
                var Protocol_Id = row.cells[1].childNodes[0].value;
                var Role_Id = row.cells[2].childNodes[0].value;
                var Site = row.cells[3].childNodes[0].value;

                var hh = _p.indexOf(Protocol_Id);
                if (Protocol_Id == "") {
                    alert('Please select protocol');
                    return;
                }
                if (_p.indexOf(Protocol_Id) == -1) {
                    _p += Protocol_Id;
                    if (Protocol_Id == "") {
                        alert('Please select protocol');
                        return;
                    }
                    if (Role_Id == "") {
                        alert('Please select Role');
                        return;
                    }
                    if (Role_Id == 3) {

                        if (Site == "") {
                            alert('Please select Site');
                            return;
                        }
                    }
                    arry.push({ ProtocolID: Protocol_Id, T5_Role_ID: Role_Id, T8_sites_Id: Site });
                }
                else {
                    alert('Cannot have multiple roles in same protocol');
                    return;
                }


            }


            $.ajax({
                type: 'POST',
                url: '@Url.Action("Createuser")',
                datatype: 'JSON',
                data: {
                    UserName: $("#UserName").val(),
                    FName: $("#FName").val(),
                    LName: $("#LName").val(),
                    Password: $("#Password").val(),
                    MInitial: $("#MInitial").val(),
                    email: $("#email").val(),
                    Work_Title: $("#Work_Title").val(),
                    Protocol_Id: $("#Protocol_Id").val(),
                    Role_Id: $("#Role_Id").val(),
                    Status_Id: $("#Status_Id").val(),
                    Site: $("#Site").val(),
                    PhoneNo: $("#PhoneNo").val(),                   
                   
                    List_Protocol_role_site: arry
                },
                success: function (data) {
                    if (data.Message == "User details saved successfully") {
                        alert(data.Message);
                        window.location.href = '@Url.Action("GetUserDetails", "User")';

                    }
                    else {
                        alert(data.Message);

                            }
                            //$("input[type=text]").val("");
                            //Password: $("#Password").val("");
                            //Work_Title: $("#Work_Title").val("");
                            //Protocol_Id: $("#Protocol_Id").val("");
                            //Role_Id: $("#Role_Id").val("");
                            //Status_Id: $("#Status_Id").val("");
                            //PhoneNo: $("#PhoneNo").val("");
                            //Site: $("#Site").val("");

                        }
            });
        });
    });

</script>
