﻿@model NSABP_Model_BO_.User_BO

<script>
    $(document).ready(function () {
        $(".close").click(function () {
            $("#myAlert").alert("close");
        });
    });
</script>
@{
    if (ViewBag.Message != null)
    {
        <script>
            alert('@ViewBag.Message');
        </script>
    }
}

<div class="page-content">

    <div class="panel ">
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <div class="form-group row ">
                        @Html.HiddenFor(model => model.User_ID)
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2 color" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control text ", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Status_Title, htmlAttributes: new { @class = "control-label col-md-2 color required" })
                        <div class="col-md-4">

                            @Html.DropDownListFor(model => model.Status_Id, ViewBag.Status as SelectList, "-Select-", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Record_Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Work_Title, htmlAttributes: new { @class = "control-label col-md-2 color required" })
                        <div class="col-md-4">

                            @Html.DropDownListFor(model => model.Work_Title, new List<SelectListItem>
                                                                                                        {

                                                                                                            new SelectListItem{ Text="Mr.", Value = "Mr."},
                                                                                                            new SelectListItem{ Text="Mrs.", Value = "Mrs." }

                                                                                                         }, "-select-", new { @class = "form-control " })

                        </div>
                        @Html.LabelFor(model => model.FName, htmlAttributes: new { @class = "control-label col-md-2 color required" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ">
                        @Html.LabelFor(model => model.LName, htmlAttributes: new { @class = "control-label col-md-2 color required" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger" })
                        </div>

                        @Html.LabelFor(model => model.MInitial, htmlAttributes: new { @class = "control-label col-md-2 color" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.MInitial, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MInitial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row ">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2 color required" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2 color required" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group row">

                            @Html.LabelFor(model => model.Protocol_Code, htmlAttributes: new { @class = "control-label col-md-2 " })
                                <div class="col-md-4 dropdown">
                                    @Html.DropDownListFor(model => model.Protocol_Id, ViewBag.Protocol as SelectList, "-Select-", new { @class = "col-md-10 form-control " })
                                    @Html.ValidationMessageFor(model => model.Protocol_Id, "", new { @class = "text-danger" })
                                </div>
                            @Html.LabelFor(model => model.Status_Title, htmlAttributes: new { @class = "control-label col-md-2 color" })
                            <div class="col-md-4">

                                @Html.DropDownListFor(model => model.Status_Id, ViewBag.Status as SelectList, "-Select-", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Record_Status, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    @*<div class="form-group row">
                            @Html.LabelFor(model => model.Role_Name, htmlAttributes: new { @class = "control-label  col-md-2 color" })
                            <div class="col-md-4 dropdown ">
                                @Html.DropDownListFor(model => model.Role_Id, ViewBag.Role as SelectList, "-Select-", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Role_Id, "", new { @class = "text-danger" })

                            </div> @Html.LabelFor(model => model.Site, htmlAttributes: new { @class = "control-label  col-md-2 color" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Site, new SelectList(Model.listSites, "SiteID", "SiteID"), "--select--", new { @class = "form-control col-md-10" })
                            </div>


                        </div>*@
                    @*<div class="form-group row col-md-12 ">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 ">
                                <a id="addRow" class="btn btn-outline-success"><i class="ti-plus"></i></a>
                                <table id="tbl_config" class="table table-responsive" height="200px">
                                    <thead><tr><th><i class="fa fa-times"></i></th><th>Protocol</th><th>Role</th><th>Site</th></tr></thead>
                                    <tbody>
                                        @{
                                            if (@Model.List_Protocol_role_site != null)
                                            {
                                                foreach (var item in @Model.List_Protocol_role_site)
                                                {


                                                    <tr>

                                                        <td>
                                                            <input type="text" value=@item.Protocol_Code class="form-control" readonly="readonly" />
                                                        </td>
                                                        <td>
                                                            <input type="text" value=@item.Role_Name class="form-control" readonly="readonly" />
                                                        </td>
                                                        <td>
                                                            @{ if (@item.T8_sites_Id == "")
                                                                {
                                                                    <input type="text" value="" class="form-control" readonly="readonly" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="text" value=@item.T8_sites_Id class="form-control" readonly="readonly" />
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                                    }
                                                                }  }
                                    </tbody>
                                </table>
                            </div>
                        </div>*@
                    <div class="form-group row col-md-12 ">
                        <div class="col-md-3"></div>
                        <div class="col-md-8 ">
                            <a id="addRow" class="btn btn-outline-success"><i class="ti-plus"></i></a>
                            <table id="tbl_config" class="table table-responsive" height="200px">
                                <thead><tr><th><i class="fa fa-times"></i></th><th>Protocol</th><th>Role</th><th>Site</th></tr></thead>
                                <tbody>
                                    @{
                                        if (@Model.List_Protocol_role_site != null)
                                        {
                                            foreach (var item in @Model.List_Protocol_role_site)
                                            {
                                                <tr>
                                                    <td><i class="fa fa-times dltRow"></i></td>
                                                    @*<td>@Html.DropDownList("NotAModelProperty", new SelectList(ViewBag.Protocol1, "Id", "Protocol_Code", item.ProtocolID))</td>*@
                                                    <td>@Html.DropDownList("Protocol_Code", new SelectList(ViewBag.Protocol1, "Id", "Protocol_Code", item.ProtocolID), "--select--", new { @class = "form-control   " })</td>
                                                    <td>@Html.DropDownList("T5_Role_ID", new SelectList(ViewBag.Role1, "ID", "Role_Name", item.T5_Role_ID), "--select--", new { @class = "form-control   " })</td>
                                                    <td>@Html.DropDownList("T8_sites_Id", new SelectList(ViewBag.sites, "SiteID", "SiteID", item.T8_sites_Id), "--select--", new { @class = "form-control" })</td>
                                                </tr> }
                                        } }
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-4"></div>
                        <div class="col-md-7">
                            <input type="button" value="Update" id="btnUpdate" class="btn btn-info footable-add" />
                            @Html.ValidationSummary(true)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .required::after {
        content: "*";
        color: red;
    }
</style>
<script>
    $(document).ready(function () {
        $("#PhoneNo").mask('(000) 000-0000');
        $("#Role_Id").change(function () {
            debugger;
            if ($("#Role_Id :selected").text() == "SiteUser") {
                $("#Site").prop('disabled', false);
            }
            else {

                $("#Site").prop('disabled', true);
                $("#Site").val("");
            }
        });
        $("#btnUpdate").click(function () {
            if ($("#Work_Title :selected").val() == 0) {
                alert("Please select work title");
                $("#Work_Title").focus();
                return;
            }
            if ($("#FName").val().trim() == '') {
                alert("Please enter first name");
                $("#FName").focus();
                return;
            }
            if ($("#LName").val().trim() == '') {
                alert("Please enter last name");
                $("#LName").focus();
                return;
            }
            if ($("#email").val().trim() == '') {
                alert("Please enter email id");
                $("#email").focus();
                return;
            }
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            if (!emailReg.test($("#email").val())) {
                alert("Please enter valid Email");
                $("#PhoneNo").focus();
                return;
            }

            if ($("#PhoneNo").val().trim() == '') {
                alert("Please enter phone number");
                $("#PhoneNo").mask('(000) 000-0000')
                return;
            }

            var phone = $("#PhoneNo").unmask().val(),
               intRegex = /[0-9 -()+]+$/;
            if ((phone.length < 10) || (!intRegex.test(phone) || phone.length > 10)) {
                alert('Please enter a valid 10 digits number.');
                $("#PhoneNo").focus();
                return false;
            }
            $("#PhoneNo").mask('(000) 000-0000')

            if ($("#Status_Id :selected").val() == 0) {
                alert("Please select user status");
                $("#Status_Id").focus();
                return;
            }
            var arry = new Array();
            var tbl = document.getElementById('tbl_config');
            var _p = '';
            for (var i = 1; i < tbl.rows.length; i++) {
                var row = tbl.rows[i];
                var Protocol_Id = row.cells[1].childNodes[0].value;
                var Role_Id = row.cells[2].childNodes[0].value;
                var Site = row.cells[3].childNodes[0].value;

                var hh = _p.indexOf(Protocol_Id);
                if (Protocol_Id == "") {
                    alert('Please select protocol');
                    return;
                }
                if (_p.indexOf(Protocol_Id) == -1) {
                    _p += Protocol_Id;
                    if (Protocol_Id == "") {
                        alert('Please select protocol');
                        return;
                    }
                    if (Role_Id == "") {
                        alert('Please select Role');
                        return;
                    }
                    if (Role_Id == 3) {

                        if (Site == "") {
                            alert('Please select Site');
                            return;
                        }
                    }
                    arry.push({ ProtocolID: Protocol_Id, T5_Role_ID: Role_Id, T8_sites_Id: Site });
                }
                else {
                    alert('Cannot have multiple roles in same protocol');
                    return;
                }


            }
            debugger;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit_User")',
                datatype: 'JSON',
                data: {
                    User_ID: $("#User_ID").val(),
                    UserName: $("#UserName").val(),
                    FName: $("#FName").val(),
                    LName: $("#LName").val(),

                    MInitial: $("#MInitial").val(),
                    email: $("#email").val(),
                    Work_Title: $("#Work_Title").val(),
                    //Protocol_Id: $("#Protocol_Id").val(),
                    PhoneNo: $("#PhoneNo").val(),
                    //Role_Id: $("#Role_Id").val(),
                    Status_Id: $("#Status_Id").val(),
                    List_Protocol_role_site: arry
                },
                success: function (data) {
                    alert(data.Message);
                    window.location.reload();
                }
            });
        });
    });
</script>
@*<script>
    $(function () {
        $("#tbl_config").on("change", ".Role_Id", function () {

            if ($("option:selected", this).text() == "SiteUser") {
                $(this).parents('tr').find("#Site").prop('disabled', false);
                //$("#Site").prop('disabled', false);
            }
            else {
                $(this).parents('tr').find("#Site").prop('disabled', true);
            }
        });

    });
</script>*@
<script>
    $(document).ready(function () {
        var tbl = $('#tbl_config').DataTable({
            paging: false,
            bFilter: false,
            bInfo: false,
            "bSort": false
        });

        $('#addRow').on('click', function () {
            debugger;
            var rowHtml = $("#tbl_config").find("tbody tr")[0].outerHTML
            tbl.row.add($(rowHtml)).draw();
            $('#tbl_config tr:last select option:selected').removeAttr('selected');
        });
        $('#tbl_config tbody').on('click', '.dltRow', function () {
            if (parseInt(tbl.rows().count()) > 1) {
                if (confirm('Are you sure want to delete?'))

                    return tbl
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
            }
        });
    });


</script>
@*<script>
    $(function () {
        $("#tbl_config").on("change", "#T5_Role_ID", function () {
            debugger;
            if ($("option:selected", this).text() == "SiteUser") {
                $(this).parents('tr').find("#T8_sites_Id").prop('disabled', false);
                //$("#Site").prop('disabled', false);
            }
            else {
                $(this).parents('tr').find("#T8_sites_Id").prop('disabled', true);
            }
        });

    });
</script>*@


<script>
    $(function () {
        $('td #T5_Role_ID').change(function () {
            debugger;
            if ($("option:selected", this).text() == "SiteUser") {
                $(this).closest('tr').find("#T8_sites_Id").prop('disabled', false);
            }
            else {
              $(this).closest('tr').find("#T8_sites_Id").val('') ;
                $(this).closest('tr').find("#T8_sites_Id").prop('disabled', true);
            }
            //$(this).closest('tr').find('input[type="text"]').prop('disabled', !this.checked);
        }).change();

    });
    $(function () {
        $("#tbl_config").on("change", "#T5_Role_ID", function () {
            debugger;
            if ($("option:selected", this).text() == "SiteUser") {
                $(this).parents('tr').find("#T8_sites_Id").prop('disabled', false);
                //$("#Site").prop('disabled', false);
            }
            else {
                $(this).closest('tr').find("#T8_sites_Id").val('');
                $(this).parents('tr').find("#T8_sites_Id").prop('disabled', true);
            }
        });

    });
</script>