﻿@model NSABP_Model_BO_.FormFT_BO
<div>
    @{

        //if (Model.lstFt_timepoint.Count > 0)
        //{
        foreach (var tp in Model.lstFt_timepoint)
        {
            <div class="card Timepoint">
                @if (tp.Timepoint_Id != 0)
                {
                    <div class="card-header" >

                        <input type="checkbox" id="chk_@tp.Timepoint_Id" class="cls_@tp.Timepoint_Id chktimepoint" onclick="show_hidetpdetails(this);" value="@tp.Timepoint_Id" checked />
                        <h4>@tp.TimePoint.ToString()</h4>

                    </div>

                    <script>
$("#HiddenFieldId").val = @tp.Timepoint_Id;


                    </script>
                    <div class="card-body tpartial">
                        @Html.Partial("ft_timepointview", tp)
                    </div>
                }
                else
                {
                    <div class="card-header">

                        <input type="checkbox" id="chk_@tp.Timepoint_Id" class="cls_@tp.Timepoint_Id chktimepoint" onclick="show_hidetpdetails(this);" value="@tp.Timepoint_Id" />
                        <h4>@tp.TimePoint.ToString()</h4>

                    </div>
                    <div class="card-body tpartial">
                    </div>
                }
            </div>
        }
    }
    @*}*@

</div>

<script>
    //$(function () {
    $(".card").on('change', '.OtherTIssue', function () {
     //   $(".OtherTIssue").change(function () {
            if (this.checked) {
                // disable the dropdown:
                debugger;
                $(this).parents('.Timepoint').find('.LiverTumorIssue').prop('checked', false);
                $(this).parents('.Timepoint').find('.SiteOfOtherTumorTIssue').prop('disabled', false);
            }
        });
    //});
    $(".card").on('change', '.LiverTumorIssue', function (){
    //$(".LiverTumorIssue").change(function () {
        if (this.checked) {
            debugger;
            $(this).parents('.Timepoint').find('.OtherTIssue').prop('checked', false);
           $(this).parents('.Timepoint').find('.SiteOfOtherTumorTIssue').prop('disabled', true);
           $(this).parents('.Timepoint').find('.SiteOfOtherTumorTIssue').prop('selectedIndex',0);
        }
    });
</script>
<script>
    function show_hidetpdetails(id) {
        $('.chktimepoint').not(id).prop('disabled', true);
        debugger;
        if ($(id).prop('checked')) {
            //loading partial view
            var txtid = $(id).prop('id');
            var val = $(id).prop('value');
            $("#HiddenFieldId").val(val);
            //$(this).prop('disabled', false);
            $(id).parent().next('div').load("/Form_FT/GetPartial",function(){
                $(id).parent().next('div').find('.SubMergedIn10PercentFormalinVial').attr('name','SubMergedIn10PercentFormalinVial'+val);
            });
                
           

        }
        else {
            $(id).parent().next('div').empty();
            $('.Timepoint').each(function(){
                debugger;
                $(id).parents('.Timepoint').find('.chktimepoint').prop('checked',false).prop('disabled',false);
            });
            
        }
    }
</script>